Codigo/experiments/1_benchmark/.firecracker-build/
Codigo/experiments/1_benchmark/firecracker-assets/
Codigo/experiments/1_benchmark/firecracker-bin/
Codigo/experiments/1_benchmark/firecracker-run/

Codigo/experiments/2_orchestrator_v1/bin/
Codigo/experiments/2_orchestrator_v1/images/
Codigo/experiments/2_orchestrator_v1/guest_rootfs/
Codigo/experiments/2_orchestrator_v1/__pycache__/
Codigo/experiments/2_orchestrator_v1/*.pyc
Codigo/experiments/2_orchestrator_v1/.venv/
Codigo/experiments/2_orchestrator_v1/venv/
Codigo/experiments/2_orchestrator_v1/*.log
Codigo/experiments/2_orchestrator_v1/workdir/
Codigo/experiments/2_orchestrator_v1/node_modules/
Codigo/experiments/2_orchestrator_v1/.env
